Tugas 1 IAMS.json
{
  "name": "Tugas 1 IAMS",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8214d387-7a7e-41f7-87fa-e77f2541823d",
              "name": "first_name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "49ee99bb-82eb-4911-ad1f-b3f3cd9f2749",
              "name": "last_name",
              "value": "={{ $json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "0e4699b9-7909-488f-8ebe-59d9600e205f",
              "name": "full_name",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "d7f93a89-2074-4a91-8daa-37c0269f0824",
              "name": "email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "96e39268-ef25-406d-9e47-b44364ea0407",
              "name": "start_date",
              "value": "={{ $json['Start Date'] }}",
              "type": "number"
            },
            {
              "id": "c6ba1019-0c22-4bd9-ba68-1273cda4a53b",
              "name": "position",
              "value": "={{ $json.Position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -16
      ],
      "id": "55ca074d-4267-4ba2-b134-ceef6c5014b3",
      "name": "Data Normalization"
    },
    {
      "parameters": {
        "listId": "69ef67d523b48117f150a495",
        "name": "Checklist Onboarding",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        656,
        -16
      ],
      "id": "3cec3e36-c4ec-42d7-9c72-e939ad0f9331",
      "name": "Membuat Kartu",
      "executeOnce": true,
      "credentials": {
        "trelloApi": {
          "id": "hJxDcvRXndoTaX2f",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "create",
        "cardId": {
          "__rl": true,
          "value": "69ef68a6404d535678b9df1a",
          "mode": "id"
        },
        "name": "={{ $json['Checklist Onboarding Karyawan'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1072,
        -16
      ],
      "id": "bfb29a07-6f0f-4769-b9e3-c855d5e2b657",
      "name": "Membuat Checklist",
      "credentials": {
        "trelloApi": {
          "id": "hJxDcvRXndoTaX2f",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      checklist: $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']),\n      sheet: $('Sheet Onboarding Karyawan').first().json\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -16
      ],
      "id": "c084296f-f47c-4353-b4e2-8cff219eaa86",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Z1bx3ubDcjjXqYdPc1aotqg8P_lDhkXsNTD7yoDQFgo",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Jawaban)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1bx3ubDcjjXqYdPc1aotqg8P_lDhkXsNTD7yoDQFgo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1346510757,
          "mode": "list",
          "cachedResultName": "Checklist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1bx3ubDcjjXqYdPc1aotqg8P_lDhkXsNTD7yoDQFgo/edit#gid=1346510757"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        -16
      ],
      "id": "ebd182d8-c6fd-49c8-93f6-52e630360937",
      "name": "Checklist",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rpze2FpueflmUVjp",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Z1bx3ubDcjjXqYdPc1aotqg8P_lDhkXsNTD7yoDQFgo",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Jawaban)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1bx3ubDcjjXqYdPc1aotqg8P_lDhkXsNTD7yoDQFgo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2061139030,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z1bx3ubDcjjXqYdPc1aotqg8P_lDhkXsNTD7yoDQFgo/edit#gid=2061139030"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        240,
        -16
      ],
      "id": "40d92d03-feb2-4b24-a4ba-a0a5a641585e",
      "name": "Sheet Onboarding Karyawan",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "p6DQetWcQLkCgQDA",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sheet.Email }}",
        "subject": "=Selamat datang di perusahaan,  {{ $json.sheet['Full Name'] }}",
        "message": "=Hi {{ $('Sheet Onboarding Karyawan').first().json['First Name'] }}{{ $('Sheet Onboarding Karyawan').first().json['Last Name'] }},\n\nSelamat datang di Perusahaan! Kami sangat senang Anda bergabung sebagai {{ $('Sheet Onboarding Karyawan').first().json.Position }} mulai {{ $('Sheet Onboarding Karyawan').first().json['Start Date'] }}.\n\nBerikut daftar tugas onboarding Anda:\n<ul>\n<li>{{ $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']).join('</li><li>') }}</li>\n</ul>\n\nJika ada pertanyaan, reply email ini.\n\nSalam,\nTim HR\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1488,
        -16
      ],
      "id": "e1973e28-375f-49f8-b63f-5afe8f6d5423",
      "name": "Send a message",
      "webhookId": "15311921-9f1d-437c-b5f1-e9b40fffb54b",
      "credentials": {
        "gmailOAuth2": {
          "id": "ClFNo18A8bHDyKS2",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Data Normalization": {
      "main": [
        [
          {
            "node": "Membuat Kartu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kartu": {
      "main": [
        [
          {
            "node": "Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Checklist": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist": {
      "main": [
        [
          {
            "node": "Membuat Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet Onboarding Karyawan": {
      "main": [
        [
          {
            "node": "Data Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "554662ff-045f-4c5e-b61e-1137559209ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94e417dcf5f973d4e19006fc6970012180f80c5acde6b4ce80348d8168a83c52"
  },
  "id": "GWGvffI7olxNhMay",
  "tags": []
}