video generate.json
{
  "name": "video generate",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate video konten otomatis",
        "formDescription": "isi informasi dibawah ini untuk memulai proses generate video",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt"
            },
            {
              "fieldLabel": "img_url"
            },
            {
              "fieldLabel": "task_type"
            },
            {
              "fieldLabel": "api_key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1488,
        0
      ],
      "id": "6e93a007-159a-4822-a5fa-99400cafe1d8",
      "name": "On form submission",
      "webhookId": "b8c9eb59-c32e-4b9b-b09b-0947e90b2ae2"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1072,
        0
      ],
      "id": "f26d0657-bc88-40d9-b671-033d80f877a1",
      "name": "Wait",
      "webhookId": "c3b096f5-3cc2-4dd2-9a80-b35ec6d5013c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "217ca8bd-5ee5-4e40-a3ba-e2919a2ee84a",
              "leftValue": "success",
              "rightValue": "={{ $json.data.state }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        0
      ],
      "id": "afb6355a-de13-4177-af65-f88664b1f828",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/image-to-video\",\n  \"input\": {\n    \"image_urls\": [\n      \"{{$json.img_url}}\"\n    ],\n    \"prompt\": \"{{$json.prompt}}\",\n    \"mode\": \"normal\",\n    \"duration\": \"6\",\n    \"resolution\": \"480p\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1280,
        0
      ],
      "id": "4157c3c2-e311-49d8-b1c8-0997c0da9fdc",
      "name": "image generation request"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"On form submission\"].json[\"api_key\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -864,
        0
      ],
      "id": "1c2a0a17-1e88-4b46-932c-c5c62f798aff",
      "name": "status generate"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  videoUrl: result.resultUrls?.[0] || null\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -16
      ],
      "id": "aef40131-6e1d-4095-8fc2-54736fbf77c8",
      "name": "Parse Video URL"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        -16
      ],
      "id": "f7c17f73-e7e5-4d15-861d-08c14dc24f28",
      "name": "Download Video"
    },
    {
      "parameters": {
        "name": "hasil generate video",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1179qhuB-KLR5HUcnFvDwF8BjItRLzylM",
          "mode": "list",
          "cachedResultName": "NFA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1179qhuB-KLR5HUcnFvDwF8BjItRLzylM"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -16
      ],
      "id": "fa989f3f-7ca2-49a1-af64-150bf66b4473",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tMu1sUvzclpOeGkn",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "prompt": "buatkan video dari gambar ini",
          "img_url": "https://drive.google.com/uc?export=download&id=1JyFCYyPXNlf0rY3_F1m9f_T_Z1VGiZQU",
          "task_type": "",
          "api_key": "21596acc5e6501b7c4eb1de6e40760fd",
          "submittedAt": "2026-04-06T20:22:00.873+07:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "image generation request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "status generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Parse Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image generation request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status generate": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video URL": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3d58ffd3-57dd-4773-b36f-3c625047854f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94e417dcf5f973d4e19006fc6970012180f80c5acde6b4ce80348d8168a83c52"
  },
  "id": "Zlk1EdhrQYA8BLVI",
  "tags": []
}